# Python virtual environment
.venv/
.venv311/
venv/
env/
set_temp_gridfm
# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyCharm / IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated datasets
data/*
!data/.gitkeep

# Large model/data artifacts
*.npz
*.npy
*.pkl
*.pt
*.pth
*.ckpt
*.parquet
*.csv

# Temporary files
tmp/
temp/
/notebooks/.ipynb_checkpoints/
SSHOutput
.venvwsl
runs
# Packaging artifacts
build/
dist/
*.egg-info/

# Test/tool caches
.pytest_cache/
.coverage
htmlcov/
